# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
android
ios

# Capacitor
.capacitor

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Testing
coverage

# Misc
*.log
